/*Header*/

.principio li {
    list-style-type: none;
}

a{
    text-decoration: none;
 }  

form button{
    color: orangered;
}

.principio{  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: azure; 
    justify-content: space-around;
    padding-left: 4%;
    width: 100%;
} 

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.clasificaciones{
    width: 55%;
    justify-content: space-around;    
}

.logo{
    display: flex;
    flex-wrap: wrap;
    width: 10%; 
    height: 15%;
    justify-content: center;
    align-self: center;
    padding: 1%;
}

.logo img{
    max-width: 150px;
    max-height: 50px;
}

.busqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-self: center;
    width: 25%;  
}

header h2{
    color: orangered;
    align-self: center;
    font-family: 'Kanit', sans-serif; 
    text-align: center;  
    font-size:xx-large;
}




/*Body*/

body{
    background-color: rgb(251, 247, 238);
}
main{ 
    display: flex; 
    flex-wrap:wrap;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    margin: 0% 10% 3% 10%; 
    padding: 3.5%;
}

main h1{ 
    padding: 15px;
    text-align: center;  
    font-family: 'Kanit', sans-serif; 
    color: rgb(202, 57, 5);
    width: 100%; 
    text-transform: uppercase;
    padding-bottom: 5%;
}

.imagen {
    display: flex;
    width: 30vw;
    height: 60vh; 
    border-style: solid;
    border-color: rgb(238, 137, 100);
    margin: 0;
    float: left;
}
.info-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3%;
}
.posicion-pelicula { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: rgb(238, 137, 100);
    font-family: 'Kanit', sans-serif;
    width: 35vw;
    height: 12vh;
}

.posicion-pelicula h2, div{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin:0%;
    height: 6vh;
    width: 30vw;
}

.posicion-pelicula h2{
    font-size: 150%;
}

#nombre-pelicula{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}



.favorito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 6vh;
    width: 8vw;
    color: rgba(0, 0, 0, 0.719);
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding:0%;
}

#descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 35vw;
    height: 20vh;
    font-size: large;
}

#generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 8%;
    color: black;
}
#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
    font-size: large;
    font-weight: 800;
}
i{
    color: rgb(230, 230, 27);
}

p{
    line-height:25px;
}


/*Body*/

body{
    background-color: rgb(251, 247, 238);
}
main{ 
    display: flex; 
    flex-wrap:wrap;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    margin: 0% 10% 3% 10%; 
    padding: 3.5%;
}

main h1{ 
    padding: 15px;
    text-align: center;  
    font-family: 'Kanit', sans-serif; 
    color: rgb(202, 57, 5);
    width: 100%; 
    text-transform: uppercase;
    padding-bottom: 5%;
}

main h2{
    width: 100%;
}

.imagen {
    display: flex;
    width: 30vw;
    height: 60vh; 
    border-style: solid;
    border-color: rgb(238, 137, 100);
    margin: 0;
    float: left;
}
.info-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 3%;
}
.posicion-pelicula { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: rgb(238, 137, 100);
    font-family: 'Kanit', sans-serif;
    width: 35vw;
    height: 12vh;
}

.posicion-pelicula h2, div{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin:0%;
    height: 6vh;
    width: 30vw;
}

.posicion-pelicula h2{
    width: 100%;
    font-size: 250%;
}
.favorito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 6vh;
    width: 8vw;
    color: rgba(0, 0, 0, 0.719);
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding:0%;
}

#descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 35vw;
    height: 20vh;
    font-size: large;
    text-align: justify;
}

#generos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 8%;
    color:orangered;
}

#generos a{
    color: rgb(238, 137, 100);
}
#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5%;
    font-size: large;
    font-weight: 800;
}
i{
    color: rgb(230, 230, 27);
}

p{
    line-height:25px;
}

/*Footer*/

footer {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Kanit', sans-serif; 
}

.foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
.nosotros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    width: 35%;
    justify-content: space-around;
}

.logo-final { 
   display: flex;
   justify-content: center; /*arriba medio*/
   align-self: center; /*medio*/
   width: 10%;  
   max-width: 150px;
   max-height: 50px;  
   padding-left: 6%;
   padding-right: 5%;
}

footer h4{
    color: orangered;
}

footer i{
    color: orangered;
    max-height: 25px;
    max-width: 25px;
}

@media (max-width: 375px){
   /*Body*/

   main{
       width: 100%;
       margin: 0%;
   }

   .imagen{
    width: 70%;
    height: 70%;
    margin: 0 auto;  
    }  

    #descripcion{
        width: 100%;
    }

     article .posicion-pelicula { 
       max-width: 100%;   
    }
    
    
   
    .posicion-pelicula h2{
        width: 50%;
        font-size: small;
        margin: 0%;
    }



    .posicion-pelicula .puntación{
        width: 20%;
        margin: auto 0%;
    }

    .favorito{
        width: 80%;
        margin: auto 0%;
        font-size: smaller;
    }

    h1{  
        font-size:x-large ; 
    }

    

   

    
   
    /*Footer*/
    .foot{
        width: 100%;
    }

    footer img{ 
        margin-top: 5%;
        width: 50%; 
        height: 15%;
    }
    .foot article{
        width: 50%; 
    }

    .foot article p {
        font-size: smaller;
    }

    footer h4{
        font-size: medium;
    }
    

}
