

/*Header*/
main{
    background-color:darkkhaki;
}
li {
    list-style-type: none;
}

a{
    text-decoration: none;
 }  

form button{
    color: orangered;
}


.header{   
    background-color: azure; 
} 

.logo-busqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}

.logo-busqueda img{  
    max-width: 150px;
    max-height: 50px;
}

.clasificaciones ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;   
}
.clasificaciones li{
    text-align: center;
    width: auto;  
}
.clasificaciones a{
    width: 100%;
    color: orangered; 
    font-family: 'Syncopate', sans-serif;
 }


/*Body*/
        /*imagenes centradas, definir las box asi se ve el fondo entre ellas*/
        html{
            background-image: url(../img/Fondo.jpeg);
        }
        
footer {
    background-color: azure;
}

    

.nosotros section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
   
}
.nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.final{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;  
}

.logo-final img { 
    max-width: 150px;
    max-height: 50px;    
}

.logo-final { 
    display: flex;
   align-self: center;
   justify-content: center;
   justify-self: flex-start;   
}

footer h4{
    color: orangered;
}

footer i{
    color: orangered;
    max-height: 25px;
    max-width: 25px;
}
main ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.generos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background-color:rgb(8, 112, 231);
    width: 27vw;
    height: 15vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    border-radius: 60px;
}
.generos a{
    font-size: 100%;
    font-weight: 800;
    color: rgb(182, 211, 211);
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    align-content:center ;
    width: 50vw;
    height: 10vh;
    font-size: 300%;
    margin: 0%;
    font-weight: 900;
}