main{
    background-color: rgb(251, 247, 238);
}

/*Header*/
.principio li {
    list-style-type: none;
}

a{
    text-decoration: none;
 }  

form button{
    color: orangered;
}

.principio{  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: azure; 
    justify-content: space-around;
    padding-left: 4%;
    width: 100%;
} 

header ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.clasificaciones{
    width: 55%;
    justify-content: space-around;    
}

.logo{
    display: flex;
    flex-wrap: wrap;
    width: 10%; 
    height: 15%;
    justify-content: center;
    align-self: center;
    padding: 1%;
}

.logo img{
    max-width: 150px;
    max-height: 50px;
}

.busqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-self: center;
    width: 25%;  
}

header h2{
    color: orangered;
    align-self: center;
    font-family: 'Kanit', sans-serif; 
    text-align: center;  
    font-size:xx-large;
}

/*Body*/

main ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.generos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background-color:rgb(255, 255, 255);
    width: 27vw;
    height: 10vh;
    background-color: rgb(236, 181, 161);
    font-size: xx-large;
}

.generos a{
    display: flex;
    justify-self: center;
    align-self: center;
    font-weight: 800;
    color: orangered; 
    font-family: 'Kanit', sans-serif;    
}

.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center ;
    width: 50vw;
    height: 10vh;
    font-size: 300%;
    margin: 0%;
    font-weight: 900;
    color: orangered; 
    font-family: 'Kanit', sans-serif;   
}
       

/*Footer*/

footer {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Kanit', sans-serif; 
}

.foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
.foot article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    width: 35%;
    justify-content: space-around;
}

footer img{ 
   display: flex;
   justify-content: center; /*arriba medio*/
   align-self: center; /*medio*/
   width: 10%;  
   max-width: 150px;
   max-height: 50px;  
   padding-left: 6%;
   padding-right: 5%;
}

footer h4{
    color: orangered;
}

footer i{
    color: orangered;
    max-height: 25px;
    max-width: 25px;
}

@media (max-width: 375px){
    
    /*header*/
    .principio{  
        flex-direction: column;
        justify-content: center;
        padding: 0%;
    } 
    
    .clasificaciones{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-self: center;
        align-content: center;
        padding: 0;
        width: 100%;
    } 
    
    header h2{
        font-size: large;
    }
    
    .logo{
        width: 40%; 
        height: 50%;
    }
    
    .busqueda{
        flex-direction: row;
        justify-content:space-around;
        width: 70%;  
        margin-bottom: 5%;
    }

    /*Body*/
    section{
        max-width: 100%;
    }

    .generos{
        width: 100%;
        margin: 5% 5%;     
    }

    .titulo{
        width: 100%;
        text-align: center;
        color: rgb(202, 57, 5);   
    }

    /*Footer*/
    .foot{
        width: 100%;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    footer img{ 
        margin-top: 5%;
        width: 50%; 
        height: 15%;
    }
    .foot article{
        width: 50%; 
    }

    .foot article p {
        font-size: smaller;
    }

    footer h4{
        font-size: medium;
    }     
}