

/*Header*/
li {
    list-style-type: none;
}

a{
    text-decoration: none;
 }  

form button{
    color: orangered;
}


.header{   
    background-color: azure; 
} 

.logo-busqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}

.logo-busqueda img{  
    max-width: 150px;
    max-height: 50px;
}

.clasificaciones ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;   
}
.clasificaciones li{
    text-align: center;
    width: auto;  
}
.clasificaciones a{
    width: 100%;
    color: orangered; 
    font-family: 'Syncopate', sans-serif;
 }


/*Body*/
        /*imagenes centradas, definir las box asi se ve el fondo entre ellas*/

html{
    background-image: url(../img/Fondo.jpeg);
}

.ofertas{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(251, 247, 238); /* background-color: #444; (cual va mejor?)---- falta separar las distintas cajas*/     
}

.ofertas article{
    width: 380px;
    margin-bottom: 30px;
    margin-top: 30px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif; 
    
}
 section .ofertas{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px; 
}


.ofertas img{
    width: 100%;
    height: 400px;
    max-width: 280px;
}
    
    
section p{
    color: rgb(41, 51, 61);
    text-align: center;
}

section h2{
    color: orangered; 
}

section h3{
    text-align: center;
}

/*Footer*/
        /*logo abajo a la izquierda*/

footer{
    background-color: azure;
}

.nosotros{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.final{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;  
}

.logo-final img { 
    max-width: 150px;
    max-height: 50px;    
}

footer h4{
    color: orangered;
}

footer i{
    color: orangered;
}

