

/*Header*/
li {
    list-style-type: none;

}

a{
    text-decoration: none;
 }
   

.header{
     
    margin:0 auto;
    background-color: azure; 
} 

.logo-busqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}

.logo-busqueda img{  
    max-width: 150px;
    max-height: 50px;
}

.clasificaciones ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;   
}
.clasificaciones li{
    text-align: center;
    width: auto;  
}
.clasificaciones a{
    width: 100%;
    color:black; 
 }

 
/*Body*/
.ofertas{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ofertas article{
    width: 380px;
    margin-bottom: 30px;
}
 section .ofertas{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px;
}



.ofertas img{
    width: 100%;
    height: 400px;
    max-width: 280px;
    justify-items: center;
}



/*Footer*/

footer{
    background-color: azure;
}

.nosotros{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.final{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo-final img { 
    max-width: 150px;
    max-height: 50px;
}

footer h4{
    color: orangered;
}
footer i{
    color: orangered;
}